<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="gotoMenu()">
      <ion-label>Json using interface</ion-label>
    </ion-item>
    <ion-item (click)="gotoMenu('2')">
      <ion-label>Json import from local json file</ion-label>
    </ion-item>
    <ion-item (click)="gotoMenu('3')">
      <ion-label>Http get Json from local json file</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
